<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule v1/(.*)$ api.php?v=1&request=$1 [QSA,NC,L]
RewriteRule v2/(.*)$ api_v2.php?v=2&request=$1 [QSA,NC,L]
</IfModule>